blog_writer.json
{
  "name": "gemini copy",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "id": "929714ca-adab-492d-94cf-e49edcdf7f2b",
      "name": "When chat message received",
      "webhookId": "e075363d-8d05-4006-b9e2-db3efbe7fbdf"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [220, 200],
      "id": "a9081f45-4e54-4836-b844-f9649cc4673e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [340, 200],
      "id": "df869d51-3c67-420e-ac9b-cb914095d8e5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [480, 220],
      "id": "fe542398-170c-47ff-aa26-c11ebda86a9b",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }} ",
        "options": {
          "systemMessage": "=오늘 날짜는 {{ $now }} 입니다."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [220, 0],
      "id": "e429985c-1593-4262-bc1c-26133ed70ba2",
      "name": "AI Agent_search"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Here is the content: {{$json.output}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "you are a blog writer agent. use the provided information to write a blog. only respond with a blog"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [580, 0],
      "id": "89751759-1a84-4357-9357-81d2310542b1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-001",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [600, 220],
      "id": "a665d649-c192-4c1e-ad8f-f51282b797c6",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [[{
        "node": "AI Agent_search",
        "type": "main",
        "index": 0
      }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{
        "node": "AI Agent_search",
        "type": "ai_languageModel",
        "index": 0
      }]]
    },
    "Simple Memory": {
      "ai_memory": [[{
        "node": "AI Agent_search",
        "type": "ai_memory",
        "index": 0
      }]]
    },
    "SerpAPI": {
      "ai_tool": [[{
        "node": "AI Agent_search",
        "type": "ai_tool",
        "index": 0
      }]]
    },
    "AI Agent_search": {
      "main": [[{
        "node": "AI Agent",
        "type": "main",
        "index": 0
      }]]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [[{
        "node": "AI Agent",
        "type": "ai_languageModel",
        "index": 0
      }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}